* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Content-box */
.in_box {
    width: 600px;
}

/* Top box */
input[type="number"] {
    width: 100px;
}

form {
    height: 300px;
}

form div {
    flex: 1;
}

form div:nth-child(2) div {
    min-width: 200px;
    font-size: 18px;
}

/* Bottom box */

button {
    width: 200px;
}

form div:nth-child(3)  input[type="text"] {
    width: 260px;
}


